.main-bg {
    background-color: #24353f;
}

.main-color {
    color: #17a2b8;
}

body {
    height: 100vh;
}

.form {
    box-shadow: 0px 0px 35px black;
    width: 60% !important;
}



.form input,
button {
    background-color: transparent !important;
    color: white !important;
}

.box,
.navbar {
    box-shadow: 0px 0px 35px black;
}




@media (max-width: 575.98px) {

    .form,
    .box {
        width: 95% !important;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    .form,
    .box {
        width: 90% !important;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    .form,
    .box {
        width: 80% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}